{% extends "base.html" %}

{% block content %}

<section>
    <img class="image__main" src={{ faceoff_image_path }} alt="Faceoff Image">
</section>
<br>
<div class="button__multichoice">
    <section class="left">
        <form class="form" method="POST">
            <button class="button__submit" type="submit" name="submit_rps" value="rock">🗿 Rock</button>
        </form>
        </section>
    <section class="center">
        <form class="form" method="POST">
            <button class="button__submit" type="submit" name="submit_rps" value="paper">🧻 Paper</button>
        </form>
        </section>
    <section class="right">
        <form class="form" method="POST">
            <button class="button__submit" type="submit" name="submit_rps" value="scissors">✂️ Scissors</button>
        </form>
    </section>
</div>

{% endblock %}