{% extends "base.html" %}

{% block content %}

<div class="button__multichoice">
    <section class="left">
        <button class="button__submit" type="submit" name="submit_r" class="form__submit">🗿 Rock</button>
    </section>
    <section class="center">
        <button class="button__submit" type="submit" name="submit_p" class="form__submit">🧻 Paper</button>
    </section>
    <section class="right">
        <button class="button__submit" type="submit" name="submit_s" class="form__submit">✂️ Scissors</button>
    </section>
</div>

{% endblock %}